/*Diff Stuff*/
table.diff, td.diff-otitle, td.diff-ntitle {
    background-color: white;
    clear: both;
}
td.diff-otitle,
td.diff-ntitle {
    text-align: center;
}
td.diff-marker {
    text-align: right;
}
.rtl td.diff-marker {
    text-align: left;
}
td.diff-lineno {
    font-weight: bold;
}
td.diff-addedline {
    background: #e4f6d8;
    font-size: smaller;
}
td.diff-deletedline {
    background: #d8e4f6;
    font-size: smaller;
}
td.diff-context {
    background: #eee;
    font-size: smaller;
}
.diffchange {
    color: red;
    font-weight: bold;
    text-decoration: none;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
}

table.diff {
    border: none;
    width: 98%;
    border-spacing: 4px;
    
    /* Fixed layout is required to ensure that cells containing long URLs
       don't widen in Safari, Internet Explorer, or iCab */
    table-layout: fixed;
}
table.diff td {
    padding: 0;
}
table.diff col.diff-marker {
    width: 2%;
}
table.diff col.diff-content {
    width: 48%;
}
table.diff td div {
    /* Force-wrap very long lines such as URLs or page-widening char strings.
       CSS 3 draft..., but Gecko doesn't support it yet:
       https://bugzilla.mozilla.org/show_bug.cgi?id=99457 */
    word-wrap: break-word;
    
    /* As fallback, scrollbars will be added for very wide cells
       instead of text overflowing or widening */
    overflow: auto;
    
    /* The above rule breaks on very old versions of Mozilla due
       to a bug which collapses the table cells to a single line.
       
       In Mozilla 1.1 and below with JavaScript enabled, the rule
       will be overridden with this by diff.js; wide cell contents
       then spill horizontally without widening the rest of the
       table: */
    /* overflow: visible; */
}

/*
 * Styles for the HTML Diff
 */
div.diff-switchtype{
    text-align: center;
    font-weight: bold;
    font-size: smaller;
}

span.diff-html-added {
  font-size: 100%;
  background-color: #20ff20
}

span.diff-html-removed {
  font-size: 100%;
  text-decoration: line-through;
  background-color: #ff2020
}

span.diff-html-changed {
  background: url(images/diffunderline.gif) bottom repeat-x;
  *background-color: #c6c6fd; /* light blue */
}

span.diff-html-added img{
 border: 5px solid #ccffcc;
}

span.diff-html-removed img{
 border: 5px solid #fdc6c6;
}

span.diff-html-changed img{
 border: 5px dotted #000099;
 
}

span.diff-html-changed  {
  position: relative;   /* this is key */
  cursor: help;
}
 
span.diff-html-changed span.tip {
  display: none;        /* so is this */
}

/* tooltip will display on :hover event */
 
span.diff-html-changed:hover span.tip {
  display: block;
  z-index: 95;
  position: absolute;
  top: 2.5em;
  left: 0;
  width: auto;
  line-height: 1.2em;
  padding: 3px 7px 4px 6px;
  border: 1px solid #336;
  background-color: #f7f7ee;
  font-size: 10px;
  text-align: left;
}
/*End of diff stuff*/


/*Icons*/
.buttons{
  float:left;
}

.icon{
  width: 50px;
  height: 50px;
  float: left;
  border: 0px;
  cursor: pointer;
}

.icon-next{
  background-image:url('/icons-simple.png');
  background-position: 0px 0px; 
}

.icon-revert{
  background-image:url('/icons-simple.png');
  background-position: -50px 0px; 
}

.icon-revertwarn{
  background-image:url('/icons-simple.png');
  background-position: -100px 0px; 
}
.icon-warn{
  background-image:url('/icons-simple.png');
  background-position: -150px 0px; 
}
.icon-block{
  background-image:url('/icons-simple.png');
  background-position: -200px 0px; 
}

.icon-delete{
  background-image:url('/icons-simple.png');
  background-position: -250px 0px; 
}
.icon-whitelist{
  background-image:url('/icons-simple.png');
  background-position: 0px 50px; 
}

.icon-view{
  background-image:url('/icons-simple.png');
  background-position: -50px 50px; 
}
.icon-edit{
  background-image:url('/icons-simple.png');
  background-position: -100px 50px; 
}
.icon-user{
  background-image:url('/icons-simple.png');
  background-position: -150px 50px; 
}

.icon-talk{
  background-image:url('/icons-simple.png');
  background-position: -200px 50px; 
}
.icon-newmsg{
  background-image:url('/icons-simple.png');
  background-position: -250px 50px; 
}
.icon-patrol{
  background-image:url('/icons-simple.png');
  background-position: -300px 0px; 
}
/*End of icons-simple*/


body{
  font-family: Helvetica,Arial,Verdana,sans-serif;
  margin: 5px;
}

h1 {
  color: #777;
}

h1#title{
  font-size: 36;
  cursor: pointer;
  margin-bottom: 10px;
}


h1#title:hover {
  text-decoration: underline;
}

.footer{
  width: 200px;
  margin: 0 auto;
  margin-top: 50px;
  border-top: 1px solid black;
  text-align: center;
  padding: 5px;
}

.footer a{
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

#status {
  font-size: 21px;
  color: #aaa;
}

#rcCount {
  font-size: 24px;
  color: black;
  margin-right: 10px;
}

#log {
  float: right;
}

img {
  border: none;
}

ul#loglines{
  list-style-type: none;
  padding-left: 0px;
  color: 888;
  font-size: 12px;
}

#titlediv{
  margin-left: 50px;
}

.newpage{
    background-color: #eef;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%;
    clear: both;
}

/* word wrap for pre */
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
}

.icondelete {
    margin-right: 10px;
}

ul.whitelist{
    list-style-type: none;
}

.whitelist-user{
    margin-top: 7px;
}

ul.menu{
    clear: both;
}
ul.menu li{
    display:inline; 
    list-style-type:none; 
    margin-left:10px; 
    padding-left:10px; 
    border-left:2px solid #ccc;
}

ul.menu li:first-child {
    border-left:none;
}

label {
    margin-right: 20px;
    color: #666;
    font-size: 120%;
}
